.gradle
build
.idea/
.project
.settings/
.classpath
nbactions.xml
nb-configuration.xml
nbproject/
/src/main/resources/scythes/nylo_melee_scythe.json
/src/main/resources/scythes/nylo_range_scythe.json
/hs_err_pid*.log
